<!DOCTYPE html>
<html>
<head>
    <title>PokeRGBY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <style type="text/css">
        div { margin-bottom: 8px;}
        table { border-collapse: collapse; }
        th,td { padding: 4px; }
        .hand { cursor: pointer; }
        .num { text-align: center; }
        .red { color: red; }
        .green { color: green; }
        .blue { color: blue; }
        .yellow { color: orange; }
        .gray { background-color: #EEE; }
    </style>
</head>
<body>
<div id="nav">
    <a href="index.html">精灵</a>
    <a href="item.html">物品</a>
</div>
<div id="content"></div>
<script src="http://cdn.tgp.qq.com/lib/jq/jquery-1.11.1.min.js"></script>
<script src="common.js"></script>
<script src="DataBase.min.js"></script>
<script type="text/tmpl" id="tmpl">
    <table border="1px;">
        <colgroup>
            <col width="20px;"/>
            <col width="40px;"/>
            <col width="100px;"/>
            <col width="100px;"/>
            <col width="20px;"/>
            <col width="20px;"/>
            <col width="20px;"/>
            <col width="20px;"/>
            <col width="20px;"/>
            <col width="20px;"/>
            <col />
        </colgroup>
        <thead>
            <tr>
                <th data-col="0" class="num hand" prop="No">No</th>
                <th></th>
                <th colspan="2">名字</th>
                <th data-col="4" class="num hand" prop="BaseStats.HP" title="エイチピー">HP</th>
                <th data-col="5" class="num hand" prop="BaseStats.Attack" title="こうげき">攻</th>
                <th data-col="6" class="num hand" prop="BaseStats.Defense" title="ぼうぎょ">防</th>
                <th data-col="7" class="num hand" prop="BaseStats.Speed" title="すばやさ">敏</th>
                <th data-col="8" class="num hand" prop="BaseStats.Special" title="とくしゅ">特</th>
                <th data-col="9" class="num hand" prop="BaseStats.Total" title="しゅぞくち">总</th>
                <th>捕获地点</th>
            </tr>
        </thead>
        <% for(var i = 0, l = list.length; i < l; i++){
            var pm = list[i];
        %>
        <tr>
            <td class="num"><%=pm["No"]%></td>
            <td><img src="<%=pm['Icon']%>"></td>
            <td><%=pm["Name"]["JA"]%></td>
            <td class="hand" flag="NameCH"><%=pm["Name"]["CH"]%></td>
            <td class="num gray"><%=pm["BaseStats"]["HP"]%></td>
            <td class="num gray"><%=pm["BaseStats"]["Attack"]%></td>
            <td class="num gray"><%=pm["BaseStats"]["Defense"]%></td>
            <td class="num gray"><%=pm["BaseStats"]["Speed"]%></td>
            <td class="num gray"><%=pm["BaseStats"]["Special"]%></td>
            <td class="num gray"><%=pm["BaseStats"]["Total"]%></td>
            <td><%=pm.Get%></td>
        <tr>
        <% } %>
    </table>
</script>
<script>
var PM_Ary = [];
$.each(PM, function(){
    this["No"] = $num2str(this["No"], 3);
    this["Icon"] = 'res/n' + this["No"] + '.png';
    this["Get"] = this["Get"].replace(/红莲/g, 'HL').replace(/绿毛虫/g, 'LMC')
                   .replace(/红/g, '<span class="red">红</span>')
                   .replace(/绿/g, '<span class="green">绿</span>')
                   .replace(/蓝/g, '<span class="blue">蓝</span>')
                   .replace(/黄/g, '<span class="yellow">黄</span>')
                   .replace(/HL/g, "红莲").replace(/LMC/g, '绿毛虫');
    PM_Ary.push(this);
});

var prop = 'No', order = 1;
$('#content').on('click', '[prop]', function(){
    var attr = $(this).attr("prop");
    order = attr === prop ? (order * -1) : 1;
    prop = attr;
    sort();
    show();
}).on('click', '[flag="NameCH"]', function(){
    window.open('http://www.pokemon.name/wiki/' + this.innerHTML + '/技能表（第一世代）');
});
function show(){
    var html = $compile({
        id : "tmpl",
        data : {
            list : PM_Ary,
            prop : prop,
            order : order
        }
    });
    $('#content').html(html);
    var sortNode = $('#content').find('[prop="' + prop + '"]'),
        colIndex = sortNode.data('col');
    sortNode.html(sortNode.html() + (order > 0 ? '▲' : '▼')).css('width', 34);
    $.each($('#content').find('tr'), function(){
        $(this).find('td').eq(colIndex).css('font-weight', 'bold');
    });
}
function sort(){
    PM_Ary.sort(function(a, b){
        return (+$getProp(a, prop) < +$getProp(b, prop) ? -1 : 1) * order;
    });
}
sort();
show();
</script>
</body>
</html>